/.vs/
/Library/
/Temp/
/Obj/
/obj/
/Build/
/Builds/
/Logs/
/UserSettings/

*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.tmp
*.bak
*.swp
*.DS_Store
Thumbs.db

sysinfo.txt

